table{
	width: 2px;
	border: 1;
	border: collapsed;
	border: solid;
	border-color: 808000;
}
td{
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 6px;
	border: 2px;
	border-style: solid;
	border-color: 808000;
}
h1, h2, h3{
	color: 00ffff;
	font: Times New Roman, Times, sans-serif;
}
h1{
	text-align: right;
	font-size: 48pt;
}
h2{
	font-size: 24pt;
}
h3{
	font-size: 18px;
}
.cyan{
	color: #00ffff;
}
/*Martin Heinen UY027 0009*/